* {
    margin: 0;
    padding: 0;
	font-family: 'Alice', serif;
}

/* nav */
.navbar {
background-color: #26272b38 !important;
Position: fixed;
Top: 0;
Left: 0;
Width: 100%;
Display: Flex;
Justify-content: space-between;
align-items: center;
Transition: 0.6s;
Padding: 15px 100px;
font-size: 1.5rem;
z-index: 1000;
}

nav.sticky {
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 0px;
	background-color: #26272b  !important;
  font-size: 1rem;
}


.navbar .logo {
	Position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-collapse ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-collapse ul li {
	position: relative;
	list-style: none;
}

.navbar-collapse ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff !important;
	letter-spacing: 2px;
	transition: 0.5s;
}

.navbar-collapse ul li a:hover {
  border-bottom: 3px solid #fff;
  border-radius: 5px;
}

.card-presentation {
	position: relative;
	width: 100%;
}

/* texto encima de imagen */
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;

}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado{
    margin: 1rem 0;
    width: 95%;
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.center {
    margin: 1rem auto !important;
}
.aling-center {
    margin: auto 1rem !important;
}



h1 {
    color: black;
    background-color: aquamarine;
}

/* hr{ 
    color: red; 
    border-left:    7px solid;
    height:         75%;
    width:          1px;       
} */
p {
    font-size: 2vw;
}
.map {
margin: 0.5rem auto;
width: 400px;
height: 30vw    /* 550px */;
}

li{
    list-style: none;
    margin: 20px;
    
}
.icon {
    width: 2.5vw;
    
}

.container-form {
    max-width: 724px;
    
}

.col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}





/* footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}






/* Laptop 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1055px) {
    .carousel {
        margin: 12vw auto;
    }  
}


/* tablet */
@media only screen and (min-width: 426px) and (max-width: 991px) {
    .sobre-nosotros .col-6 {
        width: 50%;
    }
    .sobre-nosotros .col-6-s {
        width: 50%;
    }
    .sobre-nosotros .col-6 img{
        width: 100% !important;
    } 
    .map {
        width: 100%;
        height: 250px;
        margin: 3rem auto
    }
    .icon {
        margin-right: 20px;
        width: 5vw;
        
    }
    .col-8 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .sobre-nosotros {
        display: flex;
    }
}


/* Mobile L */
@media only screen and (min-width: 320px) and (max-width: 426px) {
    /* p {
        font-size: 2.5vw;
    } */
/*     li{
        font-size: 2vw;
        
    } */
    .icon {
        margin-right: 20px;
        width: 6vw;
        
    }
    .centrado{

        top: 60%;
    }
    .sobre-nosotros .col-6 {
        width: 50%;
    }
    .sobre-nosotros .col-6 img{
        width: 100% !important;
    } 
    .map {
        width: 100%;
        height: 150px;
        margin: 2rem 0;
    }
    .row-cols-1>* {
            width: 50%;
    }
    .col-8 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .sobre-nosotros {
        display: flex;
    }
}



/* -------------- FORMULARIO -------------- */
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Alice', serif;
	background: rgba(133, 104, 73, 0.33);
}

.booking-form {
	position: relative;
	max-width: 912px;
	width: 100%;
	margin: auto;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.booking-form .booking-bg {
	position: absolute;
	left: 25px;
	top: -25px;
	bottom: -25px;
	width: 400px;
	background-image: url('../img/fotos/maquina-2.jpeg');
	background-size: cover;
	background-position: center;
	padding: 25px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.booking-form .booking-bg::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(133, 104, 73, 0.78);
}

.booking-form>form {
	margin-left: 425px;
	padding: 30px;
}

.booking-form .form-header {
	margin-bottom: 30px;
	margin-top: 60px;
	position: relative;
	z-index: 20;
}

.booking-form .form-header h2 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 900;
	color: #fff;
	font-size: 42px;
	text-transform: capitalize;
}

.booking-form .form-header p {
	color: #fff;
	font-size: 18px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}


.booking-form .form-control {
	background-color: #fff;
	height: 45px;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
    border: 1px solid;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control::placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:focus {
	background: #f8f8f8;
}

.booking-form input[type="date"].form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control option {
	color: #151515;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 3px;
	bottom: 5px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #e5e5e5;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #856849;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
}

.booking-form .form-btn {
	margin-top: 30px;
}

.booking-form .submit-btn {
	display: block;
	width: 100%;
	color: #fff;
	background-color: rgba(133, 104, 73, 0.9);
	font-weight: 700;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	height: 55px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	background-color: rgba(133, 104, 73, 1);
}

button, select {
    text-transform: none;
    padding: 0.2rem;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
	.booking-form .booking-bg {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		top: -15px;
		width: 95%;
		margin: auto;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}